[submodule "BitFit1"]
	path = BitFit1
	url = https://github.com/jeneelf/BitFit1
[submodule "AND102_Project1"]
	path = AND102_Project1
	url = https://github.com/jeneelf/AND102_Project1.git
[submodule "And102-Project3-Flixster-Part-1"]
	path = And102-Project3-Flixster-Part-1
	url = https://github.com/jeneelf/And102-Project3-Flixster-Part-1.git
[submodule "AND102-Project4-Flixster-Part-2"]
	path = AND102-Project4-Flixster-Part-2
	url = https://github.com/jeneelf/AND102-Project4-Flixster-Part-2.git
